<html>
<head>
  Listing all bikes
</head>
<body>
<ul>
<% @bikes.each do |bike| %>
      <li>  <label> <%= bike.brand %> </label> </li>
      <li>  <label> <%= bike.cost %></label> </li>
      <br />
<% end %>
</ul>
</body>
</html>