<fieldset>
  <%= content_tag "h3", "New Asset", :class => 'floating-window header' %>
  <table>
    <tr>
      <th>Brand</th>
      <th>Cost</th>
    </tr>
    <tr>
      <td><%= @bike.brand %></td>
      <td><%= @bike.cost %></td>
    </tr>
  </table>
</fieldset>